@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
    --primary-colour: #63afff;
    --off-white : #f1f5f9;
    
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
}

.marg {
    margin: 0rem 0.3rem;
}

hr {
    margin: 1rem 0rem;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin :auto
}

/** links **/

.link {
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    
}


.primary-link {
    background-color: var(--primary-colour);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link {
    color: var(--primary-colour);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-colour);
}

/**Look into BEM naming conversation**/

/** lists**/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    margin: 0rem 1rem;
    
}

.navigation {
    background-color: var(--primary-colour);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    text-align: right;
}


.nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
}

.hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero-heading {
    text-align: center;
    padding: 1.5rem;
    color: var(--dark-gray);
}

.heading-inverted {
    color: var(--primary-colour);
}

/**section**/

.section{
    padding: 2rem;
}
.section h1 {
    text-align: center;
    margin: auto;
}

.ow{
    background-color: var(--off-white);
}

.footer{
    background-color: var(--primary-colour);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link{
    color: white;
    margin: auto;
}

.footer ul
{
    padding-inline-start: 0px;
}