@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
    --primary-colour: #63afff;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
   padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/** links **/

.link{
    text-decoration: none;
    padding : 0.5rem 1.5rem;
}

.primary-link{
  background-color: var(--primary-colour);
  border-radius: 0.5rem;
  color : white;
  }

.secondary-link{
    color: var(--primary-colour);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-colour);
}